@{
    ViewData["Title"] = "Venues";
}

<div class="text-center">
    <p>This is where the venues will go once they are added in</p>
</div>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Venue" asp-action="Create">Add Venue</a>
</li>