@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center align-middle">
    <h1 class="font-weight-bold">Welcome to Concert Tracker!</h1>
    <p>Here you can track concerts from your favorite bands and favorite venues!</p>
    <p>Register or login to start planning your next concert!</p>
</div>
